.purchases-modal {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: #fff;
    box-shadow: 2px 2px 8px rgba(0, 0, 0,  .3);
    padding: 50px;
    display: inline;
    width: 200px;
    transform: translateX(300px);
    transition: 1s;
    overflow: auto;
    
}

.open{
    transform: translateX(0);
    
}

.icon-purchases {
    position: absolute;
    right: 400px;
    top: 20px;
    
}

.purchase-cart {
    
    display:inline;
    height: 100vh;
    color: #000000;
    padding: 20px;
}